<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">



   <!-- Style CSS -->
   <link rel="stylesheet" href="/css/user_side_view.css">

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

   <title>
      <%= title %>
   </title>
   <style>
      body {
         margin: 0;
         padding: 0;
      }

      .custom-div {
         margin: 20px;
         border: 1px solid black;
         box-sizing: border-box;
         /* Include border and padding in the total width and height */
      }

      .btn-dark a {
         color: white;
         text-decoration: none;
      }

      .btn-dark a:hover {
         text-decoration: none;
         /* Remove underline on hover */
      }
   </style>
   <%- include('include/nav_bar_main_style') %>
</head>

<body>
   <%- include('include/nav_bar_main') %>
      <div class="custom-div p-5">
         <!-- Profile section -->
         <div class="row mb-3">
            <div class="col-md-6">
               <h1>CHANGE PASSWORD</h1>
            </div>

         </div>

         <!-- Two additional divs -->
         <div class="row justify-content-center">
            <!-- First div with 60% width, 5px gap, and .5px gray border -->
            <div class="col-md-7 mb-3 custom-height position-relative" style="background-color: #ffffff;">
               <!-- Inner div for black border inside -->
               <% if(typeof message !=='undefined' && message !==null) { %>
                  <div class="alert alert-success text-center" id="container">
                     <%= message %>
                  </div>
                  <% } %>
                     <% if(typeof errorMessage !=='undefined' && errorMessage !==null) { %>
                        <div class="alert alert-danger text-center" id="container">
                           <%= errorMessage %>
                        </div>
                        <% } %>
                           <table class="table table-bordered">
                              <tbody>
                                 <tr>
                                    <form action="/changePassword" method="POST" class="pt-3">
                                       <td class="text-center">
                                          <input type="hidden" id="user_id" name="user_id" value="<%= userDetails._id %>">
                                          <input type="password" class="form-control mb-4 rounded-0"
                                             placeholder="OLD PASSWORD" oninput="dontAllowSpace(this)"
                                             style="font-size: 75%;" name="old_password">


                                          <input type="password" class="form-control mb-4 rounded-0"
                                             placeholder="NEW PASSWORD" oninput="dontAllowSpace(this)"
                                             style="font-size: 75%;" name="new_password">


                                          <input type="password" class="form-control mb-4 rounded-0"
                                             placeholder="RE-ENTER PASSWORD" oninput="dontAllowSpace(this)"
                                             style="font-size: 75%;" name="reenter_password">


                                          <button class="btn btn-primary w-100 rounded-0"
                                             style="background-color: #6badeb;">CHANGE PASSWORD</button>
                                       </td>
                                    </form>
                                 </tr>
                              </tbody>
                           </table>
            </div>
         </div>
      </div>

</body>
<script>
   function dontAllowSpace(input) {
      // Remove non-digit characters from the input
      input.value = input.value.trim();;
   }

   setTimeout(function () {
          var messageContainer = document.getElementById("container");
          if (messageContainer) {
            messageContainer.style.display = "none";
          }
        }, 1000); // 3000 milliseconds (3 seconds)
</script>
<%- include('include/nav_bar_main_script') %>

</html>